.container-md{
  margin-top: 20px;
}

.card-body::-webkit-scrollbar {
  display: none;
}

body {
  background-color:		#F0F0F0;
}

.card{
  margin-top: 55px !important;
  height: 70vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.card-body {
  overflow-y: scroll;
}
p {
  font-size: 45px;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
}
th {
  color:peru;
  font-size: 25px;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
}
td {
  margin-top: 10px !important;
  font-size: 17px;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;  
}