

/* @media screen and (max-width: 900px){
	#image{
		display: none;
	}
    .login-form {
        margin-left: 0px;
    }
    body {
        margin-top: 10px;
        margin-bottom: 10px;
    }
} */


